mysql-connector-python
mysqlclient>=2.0.1
django>=3.1.14
django-mysql>=3.9
web3==4.10.0
eth-accounts
py-solc>=3.2.0
py-solc-x>=1.1.1
solc>=0.0.0a0
rlp
selenium==3.141.0
ethtoken>=0.0.1a4
py-geth>=1.4.0
python-dotenv
# ast
# json